<!doctype html>
<html>
<head>
  <title>Game Time</title>
</head>
<body>

<h1>Welcome to the Game!</h1>

<p>You're going to play MADLIBS!!!</p>
<form action="/madlib">
  Enter a noun. <input type="text" name="noun">
  <br>
  Select a color: <select name="color">
    <option value="blue">Blue</option>
    <option value="purple">Purple</option>
    <option value="green">Green</option>
    <option value="rainbow">Rainbow</option>
  </select>
  <br>
  Enter the name of a person. <input type="text" name="person">
  <br>
  Choose an adjective. 
  <input type="radio" name="adjective" value="sticky">sticky
  <input type="radio" name="adjective" value="exuberant">exuberant
  <input type="radio" name="adjective" value="sleepy">sleepy
  <input type="radio" name="adjective" value="gnarly">gnarly
  <input type="radio" name="adjective" value="magical">magical
  <input type="radio" name="adjective" value="fiery">fiery
  <br>
  Enter another adjective. <input type="text" name="other_adjective">
  <br>
  Pick an adverb.
  <input type="checkbox" name="adverb" value="quickly">quickly
  <input type="checkbox" name="adverb" value="rantingly">rantingly
  <input type="checkbox" name="adverb" value="cleverly">cleverly
  <input type="checkbox" name="adverb" value="madly">madly
  <input type="checkbox" name="adverb" value="intently">intently
  <br>  
  <input type="submit">
</form>

</body>
</html>