<!doctype html>
<html>
<head>
  <title>Game Time</title>
</head>
<body>

<h1>Welcome to the Game!</h1>

<p>You're going to play MADLIBS!!!</p>
<form action="/madlib">
  Enter a noun. <input type="text" name="noun">
  <br>
  Select a color: <select name="color">
    <option value="blue">Blue</option>
    <option value="purple">Purple</option>
    <option value="green">Green</option>
    <option value="rainbow">Rainbow</option>
  </select>
  <br>
  Enter the name of a person. <input type="text" name="person">
  <br>
  Enter an adjective. <input type="text" name="adjective">
  <br>
  <input type="submit">
</form>

</body>
</html>