<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="./static/madlibs.css"> 
  <title>MEGLIBS!</title>
</head>
<body>

<h1>Here's your MEGLIB results!</h1>

<p>

One day, a {{ color }} {{ noun }} joined the Hackbright cohort 13. The {{ noun }} capered {{ adverb }} up and down the stairwell until it reached the roof.
<br>
<br>
 {{ person }} chased it down and captured it!
<br>
<br>
  The {{ noun }} got hungry and ate {{ person }} who was looking {{ adjective }} and {{ other_adjective }}. The {{ noun }} was pleased. 
<br>
<br>
  Lesson learned: NEVER CHASE A {{ noun }} IN HACKBRIGHT!!! 


</p>

</body>
</html>